@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

<div class="container">
    <div clss="row justify-content-center align-items-center">
        <br />
        <br />
        <br />
        <br />
        PÁGINA INICIAL
    </div>
</div>
